@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsl(212, 45%, 89%);
}

.card {
  width: 350px;
  background: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

.qr-image {
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.desc {
  color: hsl(220, 15%, 55%);
  margin: auto;
  margin-bottom: 20px;
  width: 95%;
}